*._*
*.csv
*.db
*.DS*
*.Trash*

.cloud
.config*
.google*
.ios*
.spotify*
.storage*

esphome/camera1.yaml
esphome/sanctuary_node_1.yaml

deps
secrets*

node-red
home-assistant.log
plex.conf
hacs
flows.json
zone*
google_calendars.yaml
known_devices.yaml
www/community/